* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
  background-color: #00080eef;
}



body {
  
  background-color: #00080eef;
  color: white;
  font-family: "League Spartan", sans-serif;
  width: 100%;
}

.navbar {
  border-bottom: 2px solid #4f16aa;
  background-color: black;
}

.gradient-text {
  h2,
  p {
    color: white;
    font-size: 35px;
    padding-top: 27px;
  }
}

.content {
  p {
    font-size: 25px;
    color: white;
  }
}

.custom-navbar {
  background-color: black;
  backdrop-filter: blur(10px);
  padding: 1rem;
  width: 100%;
}

#carouselSection {
  background-color:#00080eef;
  color: rgb(255, 255, 255);
  padding: 50px;
  text-align: center;
  width: 100%;

  #carouselExample {
    margin: 0 auto;
    max-width: 85%;

    .carousel-item {
      img {
        max-height: 900px;
        width: 95%;
        border-radius: 20px;
        margin: 0 auto;
      }
    }
  }
}

.carousel-caption {
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  max-width: 90%; // Permite que o conteúdo ocupe até 90% da largura do container
  width: 100%; // Garante que o conteúdo se ajuste ao tamanho do carrossel

  h2 {
    font-size: 2rem;
    margin: 0;

    i {
      font-size: 4.5rem;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.5rem;
    }
  }

  // Estilos para telas menores
  @media (max-width: 768px) {
    h2 {
      font-size: 0.8rem;
    }

    h2 i {
      font-size: 1rem !important;
    }

    max-width: 100%; // Expande o texto para ocupar mais espaço em telas pequenas
    padding: 0 10px; // Adiciona algum espaço interno nas laterais
  }
}





.highlights {
  background: linear-gradient(180deg, #00697e, #00414e, #00252c, #00080eef);
  padding: 80px 0; // Alinhando o padding com a seção de features
  width: 100%; // Garante que a seção ocupe toda a largura
  margin: 0; // Remove margens para que não haja espaço nas laterais

  .content h3 {
    font-size: 30px; /* Ajuste o tamanho da fonte */
    color: white; /* Cor branca para combinar com o estilo da seção */
}

  .container {
    width: 100%; // Garante que o container ocupe toda a largura
    max-width: 1200px; // Largura máxima para centralização
    margin: 0 auto; // Centraliza o container
    padding: 0 15px; // Adiciona espaçamento interno
  }

  .row {
    display: flex; // Usamos flexbox
    justify-content: center; // Centraliza os cartões na linha
    flex-wrap: wrap; // Permite que os cartões se movam para a linha seguinte
    margin: 0 -10px; // Ajuste para lidar com o espaçamento entre os cartões
    margin-right: 5px;
  }

  .col-md-4 {
    flex: 1 1 30%; // Ajusta o tamanho das colunas para ocupar 30% do espaço
    max-width: calc(33.33% - 30px); // Limita a largura máxima para 3 colunas
    margin: 15px; // Adiciona espaço entre os cartões
    transition: transform 0.3s ease; // Transição suave

    @media (max-width: 768px) { // Media query para telas menores
      flex: 1 1 100%; // Ocupa 100% do espaço
      max-width: 100%; // Limita a largura máxima a 100%
      margin: 10px 0; // Margem entre os cartões
      transform: scale(0.9); // Reduz o tamanho dos cards levemente
    }
  }

  .highlight-card {
    position: relative;
    border-radius: 15px; // Mesma borda arredondada
    overflow: hidden;
    background-color: #1a1a1a; // Fundo dos cards
    height: 215px; // Altura fixa para garantir que sejam quadrados
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    color: white; // Cor do texto

    &:hover {
      transform: scale(1.05); // Aumenta o tamanho ao passar o mouse
    }

    h4 {
      font-size: 24px; // Tamanho do título
      margin: 10px 0 0;
      position: relative; // Para que o texto se sobreponha à imagem
      z-index: 1; // Aumenta a sobreposição em relação ao fundo
    }

    p {
      margin-top: 5px; // Margem acima do parágrafo
      color: #b3b3b3; // Cor do texto da descrição
      position: relative;
      z-index: 1; // Aumenta a sobreposição em relação ao fundo
    }

    i {
      font-size: 40px; // Tamanho do ícone
      position: absolute;
      top: 20px; // Distância do topo
      color: #4f16aa; // Cor do ícone
      z-index: 1; // Aumenta a sobreposição em relação ao fundo
    }
  }
}


.quality-title {
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-weight: 600;
  margin-bottom: 12px;
}

#playNowButton {
  padding: 10px 20px; /* Ajusta a altura e largura do botão */
  font-size: 1.2rem; /* Aumenta o tamanho da fonte */
  margin-bottom: 1px;
}

#musicPlayerSection {
  padding: 50px 0;
  background-color:  #00080eef;
  color: #ffffffef;
  padding-right: 110px;
  padding-top: 2px;

  h3 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }

  .player {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 25px;
    border: #24005e;
  }

  .cover-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    animation: spin 5s linear infinite;
    object-fit: cover;
    margin-bottom: 36px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .audio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  audio {
    width: 100%;
    margin-bottom: 15px;
    background-color: #00080eef; /* Azul escuro para o fundo do player */
    color: #ffffff; /* Texto branco no player */
    border-radius: 85px; /* Deixa as bordas arredondadas */
    border: #24005e;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    button {
      background-color: #00080eef;
      border: none;
      padding: 10px 20px;
      font-size: 20px;
      color: white; /* Cor dos ícones de controle para branco */
      border-radius: 5px;
      transition: background-color 0.3s;
      margin: 0 5px;

      i {
        color: white; /* Deixa os ícones internos dos botões brancos */
      }
    }
  }
}

audio::-webkit-media-controls-panel {
  background-color: #24005e; /* Azul escuro para o fundo do player */
  border: none; /* Remove as bordas no painel */
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-next-track-button,
audio::-webkit-media-controls-previous-track-button {
  color: white; /* Ícones do player em branco */
  filter: brightness(100);
}

audio::-webkit-media-controls-volume-slider {
  accent-color: white; /* Deixa a barrinha de volume branca */
}

audio {
  outline: none; /* Remove o outline padrão quando o elemento está focado */
}


#discographySection {
  
  background: linear-gradient(180deg, #00080eef,#00080eef,#001E37);
  color: rgb(255, 255, 255);
  padding: 50px;
  text-align: center;
  width: 100%;
  margin-top: -45px;

  h2 {
    margin-bottom: 10px;
    padding-top: 20px;
    font-size: 35px;
  }

  p {
    margin-bottom: 10px;
    font-size: 25px;
  }

  #discographyCarousel {
    margin: 0 auto;
    max-width: 85%;

    .carousel-item {
      img {
        max-height: 900px;
        width: 95%;
        border-radius: 20px;
        margin: 0 auto;
      }
    }
  }
}

// Estilo dos cartões de benefícios
#featuresSection {
  background: linear-gradient(180deg, #001E37, #001128, #000209);
  padding: 80px 0;
  width: 100%; // Garante que a seção ocupe toda a largura
  margin: 0; // Remove margens para que não haja espaço nas laterais


  .container {
    width: 100%; // Garante que o container ocupe toda a largura
    max-width: 1200px; // Largura máxima para centralização
    margin: 0 auto; // Centraliza o container
    padding: 0 15px; // Adiciona espaçamento interno
  }

  .row {
    display: flex; // Usamos flexbox
    justify-content: center; // Centraliza os cartões na linha
    flex-wrap: wrap; // Permite que os cartões se movam para a linha seguinte
    margin: 0 -10px; // Ajuste para lidar com o espaçamento entre os cartões
    margin-left: 18px;
  }

  .col-md-4 {
    flex: 1 1 30%; // Ajusta o tamanho das colunas para ocupar 30% do espaço
    max-width: calc(33.33% - 30px); // Limita a largura máxima para 3 colunas
    margin: 15px; // Adiciona espaço entre os cartões
    padding-right: 65px;
    transition: transform 0.3s ease; // Transição suave

    @media (max-width: 768px) { // Media query para telas menores
      flex: 1 1 100%; // Ocupa 100% do espaço
      max-width: 100%; // Limita a largura máxima a 100%
      margin: 10px 0; // Margem entre os cartões
      transform: scale(0.9); // Reduz o tamanho dos cards levemente
    }
  }

  .card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background-size: cover; // Para a imagem de fundo cobrir o cartão
    background-position: center; // Centraliza a imagem de fundo
    height: 275px; // Altura fixa para garantir que sejam quadrados
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    color: white; // Cor do texto

    &:hover {
      transform: scale(1.05); // Aumenta o tamanho ao passar o mouse
    }

    h3 {
      font-size: 24px;
      margin: 10px 0 0;
      position: relative; // Para que o texto se sobreponha à imagem
      z-index: 1; // Aumenta a sobreposição em relação ao fundo
    }

    p {
      margin-top: 5px;
      color: #b3b3b3; // Cor do texto da descrição
      position: relative;
      z-index: 1; // Aumenta a sobreposição em relação ao fundo
    }

    i {
      font-size: 40px; // Tamanho do ícone
      position: absolute;
      top: 20px; // Distância do topo
      color: #4f16aa; // Cor do ícone
      z-index: 1; // Aumenta a sobreposição em relação ao fundo
    }
  }
}



// Estilo do Footer
footer {
  border-top: 2px solid #4f16aa; /* Borda superior roxa */
  padding: 10px; /* Espaçamento compacto */
  font-size: 0.8rem; /* Texto menor */
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h2 {
      font-size: 1.5rem; /* Tamanho do título no footer */
      margin-bottom: 20px;
  }

  form {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 800px; /* Limita a largura máxima do form */
      width: 100%;
      
      .row {
          width: 100%;
      }

      .form-control {
          width: 100%; /* Garantindo que os inputs ocupem a largura completa */
          height: 40px; /* Altura dos campos */
          font-size: 0.9rem; /* Tamanho da fonte nos campos */
          margin-bottom: 10px; /* Espaçamento entre os inputs */
      }

      textarea {
          height: auto;
          resize: vertical; /* Permite redimensionar verticalmente */
      }

      button {
          font-size: 0.9rem; /* Tamanho do botão */
          padding: 8px 20px; /* Espaçamento interno do botão */
      }
  }

  .footer-content {
      text-align: center;
      margin-top: 10px; /* Pequeno espaço acima dos direitos autorais */
  }
}



#testimonialsSection {
  background: linear-gradient(180deg, #111111, #2c2c2c); // Gradiente escuro
  color: white;
  padding: 50px 20px; // Espaçamento interno
  text-align: center; // Centraliza o texto
  border-top: 2px solid #4f16aa; // Borda superior para destaque

  h2 {
    font-size: 36px; // Tamanho da fonte do título
    margin-bottom: 30px; // Espaçamento abaixo do título
    color: #ffffff; // Cor do título
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); // Sombra para o texto
  }

  .testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
    max-width: 1400px; // Aumenta a largura máxima do container
  }

  .testimonial {
    background-color: #2c2c2c; // Cor de fundo dos depoimentos
    border-radius: 15px; // Bordas levemente arredondadas
    padding: 10px 20px 10px 20px; // Aumenta o espaçamento nas laterais e diminui o espaçamento inferior
    margin: 20px 15px; // Ajuste no espaçamento entre os depoimentos
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); // Sombra para destacar
    transition: transform 0.3s ease, box-shadow 0.3s ease; // Transição suave para hover
    width: calc(33.33% - 30px); // Ajusta a largura para 3 blocos por linha
    height: 200px; // Ajusta a altura para manter a proporção
    box-sizing: border-box;

    &:hover {
      transform: scale(1.05); // Efeito de aumento ao passar o mouse
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7); // Sombra mais intensa ao passar o mouse
    }

    p {
      font-size: 18px; // Tamanho da fonte da citação
      margin-bottom: 10px; // Espaçamento abaixo da citação
      line-height: 1.5; // Melhora a legibilidade
    }

    cite {
      font-size: 16px; // Tamanho da fonte do autor
      color: #b3b3b3; // Cor do texto do autor
      display: block; // Exibe como bloco
      margin-top: 5px; // Espaçamento acima do autor
      font-style: italic; // Itálico para o autor
    }
  }

  // Responsividade
  @media (max-width: 768px) {
    h2 {
      font-size: 28px; // Tamanho menor em telas pequenas
    }

    .testimonial {
      width: calc(50% - 20px); // Ajusta a largura para 2 blocos por linha em telas pequenas
      padding: 15px; // Menos espaço interno em telas pequenas
      
      p {
        font-size: 16px; // Tamanho menor da citação
      }

      cite {
        font-size: 14px; // Tamanho menor do autor
      }
    }
    
  }

  @media (max-width: 480px) {
    .testimonial {
      width: calc(100% - 20px); // Ajusta para 1 bloco por linha em telas muito pequenas
    }
  }
}



  // Responsividade
  @media (max-width: 768px) {
    h2 {
      font-size: 28px; // Tamanho menor em telas pequenas
    }

    .testimonial {
      padding: 15px; // Menos espaço interno em telas pequenas
      
      p {
        font-size: 16px; // Tamanho menor da citação
      }

      cite {
        font-size: 14px; // Tamanho menor do autor
      }
    }
  }

.user-icon {
  width: 50px; // Tamanho do ícone
  height: 50px; // Tamanho do ícone
  border-radius: 50%; // Redondo
  margin-bottom: 15px; // Espaçamento abaixo do ícone
}

@media (min-width: 992px) {
  footer form {
      max-width: 600px; /* Limita a largura do formulário */
      margin: 0 auto; /* Centraliza o formulário horizontalmente */
  }

  footer .row {
      justify-content: center; /* Centraliza as colunas no desktop */
  }

  footer .col-md-6 {
      flex: 0 0 45%; /* Reduz a largura das colunas para centralização */
      margin: 0 10px; /* Espaçamento lateral entre os campos */
  }
}

@media (max-width: 768px) {
  #featuresSection .card {
    height: 200px; /* Diminui a altura dos cards em telas menores */
  }
}