
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;  
  width: 100vw;  
  background-color: #121212;
}

body {
  background-color: black; 
  color: white; 
  font-family: "League Spartan", sans-serif;
}



.navbar {
  background-color: black; 
}

.gradient-text h2,
.gradient-text p,
.content h2{
  color: white; 
  font-size: 35px;
  padding-top: 27px;
}

.content p{
  font-size: 25px;
  color: white;
}


.custom-navbar {
  background-color: black;  
  backdrop-filter: blur(10px);  
  padding: 1rem;
  width: 100%; 
}

#carouselSection {
  margin-top: 25px;  
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 900px; 
}

.carousel-item img {
  width: 80%; /* Largura da imagem */
  height: 100%; /* Altura total do carrossel */
  object-fit: cover; /* Cobre o espaço disponível sem distorcer a imagem */
  border-radius: 20px; 
  margin: 0 auto;
}

.carousel-caption {
  position: absolute;
  top: 1px; // Ajuste a posição vertical conforme necessário
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; // Garante que o texto esteja na frente das imagens
  color: white; // Muda a cor do texto, se necessário
  text-align: center; // Centraliza o texto
}

.carousel-caption h2 {
  font-size: 2rem; 
  margin: 0; 

  i {
    font-size: 4.5rem; // Tamanho do ícone
    display: block; // Faz o ícone se comportar como bloco, permitindo centralização
    margin: 0 auto; // Centraliza o ícone
    margin-bottom: 0.5rem; // Espaçamento abaixo do ícone
  }
}


.highlights {
  background: linear-gradient(180deg, #00697e, #00414e, #00252c, #000000);
  color: white;
  padding: 50px;
  text-align: center;
  width: 100%;  
}

#discographySection {
  width: 100%;  
}

#discographySection {
  background: linear-gradient(180deg, black, black, rgb(0, 32, 58));
  color: black;
  padding: 50px;
  text-align: center;
  width: 100%;  

  h2 {
    margin-bottom: 10px; 
    padding-top: 20px;
    font-size: 35px;
  }

  p {
    margin-bottom: 10px; 
    font-size: 25px;
  }
}




#discographySection img {
  max-height: 900px;  // Reduz a altura máxima também nesta seção
  width: 80%;  // Limita a largura da imagem a 80% da tela para criar bordas
  border-radius: 20px;
  margin: 0 auto;
}


