* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
  background-color: rgba(0, 8, 14, 0.937254902);
}

body {
  background-color: rgba(0, 8, 14, 0.937254902);
  color: white;
  font-family: "League Spartan", sans-serif;
  width: 100%;
}

.navbar {
  border-bottom: 2px solid #4f16aa;
  background-color: black;
}

.gradient-text h2,
.gradient-text p {
  color: white;
  font-size: 35px;
  padding-top: 27px;
}

.content p {
  font-size: 25px;
  color: white;
}

.custom-navbar {
  background-color: black;
  backdrop-filter: blur(10px);
  padding: 1rem;
  width: 100%;
}

#carouselSection {
  background-color: rgba(0, 8, 14, 0.937254902);
  color: rgb(255, 255, 255);
  padding: 50px;
  text-align: center;
  width: 100%;
}
#carouselSection #carouselExample {
  margin: 0 auto;
  max-width: 85%;
}
#carouselSection #carouselExample .carousel-item img {
  max-height: 900px;
  width: 95%;
  border-radius: 20px;
  margin: 0 auto;
}

.carousel-caption {
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  max-width: 90%;
  width: 100%;
}
.carousel-caption h2 {
  font-size: 2rem;
  margin: 0;
}
.carousel-caption h2 i {
  font-size: 4.5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .carousel-caption {
    max-width: 100%;
    padding: 0 10px;
  }
  .carousel-caption h2 {
    font-size: 0.8rem;
  }
  .carousel-caption h2 i {
    font-size: 1rem !important;
  }
}

.highlights {
  background: linear-gradient(180deg, #00697e, #00414e, #00252c, rgba(0, 8, 14, 0.937254902));
  padding: 80px 0;
  width: 100%;
  margin: 0;
}
.highlights .content h3 {
  font-size: 30px;
  color: white;
}
.highlights .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.highlights .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-right: 5px;
}
.highlights .col-md-4 {
  flex: 1 1 30%;
  max-width: calc(33.33% - 30px);
  margin: 15px;
  transition: transform 0.3s ease;
}
@media (max-width: 768px) {
  .highlights .col-md-4 {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 10px 0;
    transform: scale(0.9);
  }
}
.highlights .highlight-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-color: #1a1a1a;
  height: 215px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  color: white;
}
.highlights .highlight-card:hover {
  transform: scale(1.05);
}
.highlights .highlight-card h4 {
  font-size: 24px;
  margin: 10px 0 0;
  position: relative;
  z-index: 1;
}
.highlights .highlight-card p {
  margin-top: 5px;
  color: #b3b3b3;
  position: relative;
  z-index: 1;
}
.highlights .highlight-card i {
  font-size: 40px;
  position: absolute;
  top: 20px;
  color: #4f16aa;
  z-index: 1;
}

.quality-title {
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-weight: 600;
  margin-bottom: 12px;
}

#playNowButton {
  padding: 10px 20px;
  font-size: 1.2rem;
  margin-bottom: 1px;
}

#musicPlayerSection {
  padding: 50px 0;
  background-color: rgba(0, 8, 14, 0.937254902);
  color: rgba(255, 255, 255, 0.937254902);
  padding-right: 110px;
  padding-top: 2px;
}
#musicPlayerSection h3 {
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}
#musicPlayerSection .player {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 25px;
  border: #24005e;
}
#musicPlayerSection .cover-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  animation: spin 5s linear infinite;
  object-fit: cover;
  margin-bottom: 36px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#musicPlayerSection .audio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
#musicPlayerSection audio {
  width: 100%;
  margin-bottom: 15px;
  background-color: rgba(0, 8, 14, 0.937254902);
  color: #ffffff;
  border-radius: 85px;
  border: #24005e;
}
#musicPlayerSection .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#musicPlayerSection .controls button {
  background-color: rgba(0, 8, 14, 0.937254902);
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 0 5px;
}
#musicPlayerSection .controls button i {
  color: white;
}

audio::-webkit-media-controls-panel {
  background-color: #24005e;
  border: none;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-next-track-button,
audio::-webkit-media-controls-previous-track-button {
  color: white;
  filter: brightness(100);
}

audio::-webkit-media-controls-volume-slider {
  accent-color: white;
}

audio {
  outline: none;
}

#discographySection {
  background: linear-gradient(180deg, rgba(0, 8, 14, 0.937254902), rgba(0, 8, 14, 0.937254902), #001E37);
  color: rgb(255, 255, 255);
  padding: 50px;
  text-align: center;
  width: 100%;
  margin-top: -45px;
}
#discographySection h2 {
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 35px;
}
#discographySection p {
  margin-bottom: 10px;
  font-size: 25px;
}
#discographySection #discographyCarousel {
  margin: 0 auto;
  max-width: 85%;
}
#discographySection #discographyCarousel .carousel-item img {
  max-height: 900px;
  width: 95%;
  border-radius: 20px;
  margin: 0 auto;
}

#featuresSection {
  background: linear-gradient(180deg, #001E37, #001128, #000209);
  padding: 80px 0;
  width: 100%;
  margin: 0;
}
#featuresSection .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
#featuresSection .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 18px;
}
#featuresSection .col-md-4 {
  flex: 1 1 30%;
  max-width: calc(33.33% - 30px);
  margin: 15px;
  padding-right: 65px;
  transition: transform 0.3s ease;
}
@media (max-width: 768px) {
  #featuresSection .col-md-4 {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 10px 0;
    transform: scale(0.9);
  }
}
#featuresSection .card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  color: white;
}
#featuresSection .card:hover {
  transform: scale(1.05);
}
#featuresSection .card h3 {
  font-size: 24px;
  margin: 10px 0 0;
  position: relative;
  z-index: 1;
}
#featuresSection .card p {
  margin-top: 5px;
  color: #b3b3b3;
  position: relative;
  z-index: 1;
}
#featuresSection .card i {
  font-size: 40px;
  position: absolute;
  top: 20px;
  color: #4f16aa;
  z-index: 1;
}

footer {
  border-top: 2px solid #4f16aa;
  padding: 10px;
  font-size: 0.8rem;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
footer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
}
footer form .row {
  width: 100%;
}
footer form .form-control {
  width: 100%;
  height: 40px;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
footer form textarea {
  height: auto;
  resize: vertical;
}
footer form button {
  font-size: 0.9rem;
  padding: 8px 20px;
}
footer .footer-content {
  text-align: center;
  margin-top: 10px;
}

#testimonialsSection {
  background: linear-gradient(180deg, #111111, #2c2c2c);
  color: white;
  padding: 50px 20px;
  text-align: center;
  border-top: 2px solid #4f16aa;
}
#testimonialsSection h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#testimonialsSection .testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  flex-direction: row;
  max-width: 1400px;
}
#testimonialsSection .testimonial {
  background-color: #2c2c2c;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  margin: 20px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: calc(33.33% - 30px);
  height: 200px;
  box-sizing: border-box;
}
#testimonialsSection .testimonial:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}
#testimonialsSection .testimonial p {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}
#testimonialsSection .testimonial cite {
  font-size: 16px;
  color: #b3b3b3;
  display: block;
  margin-top: 5px;
  font-style: italic;
}
@media (max-width: 768px) {
  #testimonialsSection h2 {
    font-size: 28px;
  }
  #testimonialsSection .testimonial {
    width: calc(50% - 20px);
    padding: 15px;
  }
  #testimonialsSection .testimonial p {
    font-size: 16px;
  }
  #testimonialsSection .testimonial cite {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  #testimonialsSection .testimonial {
    width: calc(100% - 20px);
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
  .testimonial {
    padding: 15px;
  }
  .testimonial p {
    font-size: 16px;
  }
  .testimonial cite {
    font-size: 14px;
  }
}
.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  footer form {
    max-width: 600px;
    margin: 0 auto;
  }
  footer .row {
    justify-content: center;
  }
  footer .col-md-6 {
    flex: 0 0 45%;
    margin: 0 10px;
  }
}
@media (max-width: 768px) {
  #featuresSection .card {
    height: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
